<div class="card">
    <div class="card__container">
      <div class="card__date">
        <span class="card__label">تاريخ الإنشاء</span>
        <div class="card__date-time">
          <span>04:30 م</span>
          <span class="card__dot">●</span>
          <span>01/12/2024</span>
        </div>
      </div>
      
      <div class="card__separator"></div>
  
      <div class="card__creator">
        <div class="card__creator-info">
          <span class="card__label">تم الإنشاء بواسطة</span>
          <span>عبدالرحيم إسماعيل ناصف</span>
        </div>
        <div class="card__avatar">
          <img src="https://flagcdn.com/w40/sa.png" alt="Saudi Arabia Flag" class="card__avatar-img" />
        </div>
      </div>
    </div>
  </div>
  